{% extends 'core/base.html' %}

{% block title %}My Store{% endblock %}

{% block content %}
<div class="container mb-4">
    <h1>My store</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="bg-light p-3 mb-4">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h2 class="mb-4 mt-3">My orders</h2>
    <div class="container bg-light rounded">
        <div class="row mb-3">
            <div class="col">
                <strong>ID</strong>
            </div>
            <div class="col">
                <strong>Title</strong>
            </div>
            <div class="col">
                <strong>Quantity</strong>
            </div>
            <div class="col">
                <strong>Price</strong>
            </div>
        </div>
      </div>

    

    {% for order_item in order_items %}
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="{% url 'my_store_order_detail' order_item.order.id %}">{{ order_item.order.id}}</a> 
                </div>
                <div class="col-sm">
                    {{ order_item.product.title }}
                </div>
                <div class="col-sm">
                    {{ order_item.quantity }}
                </div>
                <div class="col-sm">
                    ${{ order_item.get_display_price }}
                </div>
            </div>
        </div>
        
    {% endfor %}
    <hr>

    <a href="{% url 'add_product' %}" class="btn btn-light btn-lg">Add product</a>

    <h2 class="mb-4">My products</h2>

    {% if products %}
    <div class="container">
        <div class="product-container col-10 offset-1"> 
            <div class="row mt-1 mb-3">
            {% for product in products %}      
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="border-0 bg-dark card">
                        <a href="{% url 'edit_product' product.id %}">
                            {% if product.image %}
                            <div class="card">
                                <img src="{{ product.image.url }}" alt="Image of {{ product.title }}">
                            </div>
                            {% endif %}
                            <h2 class="text-white bg-dark">{{ product.title }}</h2>
                            <p class="text-white">${{ product.get_display_price }}</p>

                            <hr class="my-2">

                            <p class="text-white"><strong>Status: </strong>{{ product.get_status_display }}</p>

                        </a>
                    </div>
                </div>      
            {% endfor %}
            </div>         
        </div>
    </div> 
    {% else %}
    <p class="">You don´t have any products yet...</p>
    {% endif %}

</div>

{% endblock %}